@import "tailwindcss";

:root {
  --primary-color: #fff8d6;
  --secondary-color: #f5e6c8;
  --deep-color: #cb997e;
  --deep2-color: #b79077;
  --filler-color: #898c75;
  --filler2-color: #6b705c;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  box-shadow: black 1px 1px 1px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--deep-color);
  width: 100%;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--deep2-color);

}

::-webkit-scrollbar-track {
  background-color: var(--primary-color);
}

.container {
  width: 80% !important;
  margin-inline: auto;
}

.under::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%; /* full width */
  height: 3px;
  background-color: var(--deep-color);
  transform: scaleX(0); /* hidden initially */
  transform-origin: left;
  transition: transform 0.3s ease;
}
.under:hover::before {
  transform: scaleX(1); /* expands on hover */
}
